@import "./styles/bootstrap-custom.scss";
@import "./styles/app-variables.scss";

.app-bar {
  height: $app-bar-height;
}

.drawer-menu {
  width: $drawer-menu-width;
  height: 100vh;
  top: $app-bar-height;
}

.content-container {
  padding: 1rem;
  margin-left: $drawer-menu-width;
}
